@font-face {
    font-family: "iconfont"; /* Project id 3379345 */
    src: url('//at.alicdn.com/t/font_3379345_iz6wgei2yg.woff2?t=1652860893200') format('woff2'),
    url('//at.alicdn.com/t/font_3379345_iz6wgei2yg.woff?t=1652860893200') format('woff'),
    url('//at.alicdn.com/t/font_3379345_iz6wgei2yg.ttf?t=1652860893200') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-54:before {
    content: "\e669";
}

.icon-emizhifeiji:before {
    content: "\e649";
}

.icon-feiji:before {
    content: "\e6fa";
}

.icon-feiji1:before {
    content: "\e614";
}

.icon-feiji2:before {
    content: "\e602";
}

.icon-feiji-mianxing:before {
    content: "\e6ad";
}

.icon-feiji1-copy:before {
    content: "\eb96";
}

.icon-shouye:before {
    content: "\e751";
}

.icon-houtai6:before {
    content: "\e627";
}

.icon-yonghu:before {
    content: "\e620";
}

.icon-houtaiguanli:before {
    content: "\e665";
}

.icon-shouye1:before {
    content: "\e64e";
}

.icon-houtai:before {
    content: "\e624";
}

.icon-houtaiguanli-houtaiguanli:before {
    content: "\e636";
}

.icon-xiangyou:before {
    content: "\e600";
}

.icon-jiantou_zuoyouqiehuan_o:before {
    content: "\eb95";
}

.icon-denglumima:before {
    content: "\66";
}

.icon-denglu:before {
    content: "\e612";
}

