<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tos.mapper.FlightMapper">
    <select id="getFlight" resultType="Flight">
        select * from flight where id = #{flightId}
    </select>

    <insert id="addFlight" parameterType="Flight">
        insert into flight
        values (#{id}, #{airline}, #{srcAirport}, #{dstAirport}, #{startTime}, #{endTime}, #{advancedPrice}, #{economicPrice}, #{seatNum}, #{seatCount}, #{advancedNum}, #{economicNum}, #{size},0)
    </insert>


    <select id="getFlights" parameterType="map" resultType="Flight">
        select *
        from flight
        <where>
            <trim prefixOverrides="and">
                <if test="isManager != null and !isManager">
                    and seat_count &lt; seat_num and start_time >= current_timestamp
                </if>
                <if test="srcCity != null and srcCity != ''">
                    and src_airport in (select airport from city_airport where city = #{srcCity})
                </if>
                <if test="dstCity != null and dstCity != ''">
                    and dst_airport in (select airport from city_airport where city = #{dstCity})
                </if>
                <if test="queryDate != null">
                    and #{queryDate} between date_format(start_time,'%Y-%m-%d') and date_format(date_add(start_time,interval 1 day),'%Y-%m-%d')
                </if>
            </trim>
        </where>
    </select>

    <select id="flightStatistics" parameterType="map" resultType="Flight">
        select *
        from flight
        <where>
            <trim prefixOverrides="and">
                <if test="airline != null and airline != ''">
                    and airline = #{airline}
                </if>
                <if test="srcCity != null and srcCity != ''">
                    and src_airport in (select airport from city_airport where city = #{srcCity})
                </if>
                <if test="dstCity != null and dstCity != ''">
                    and dst_airport in (select airport from city_airport where city = #{dstCity})
                </if>
                <if test="statisticsTime &lt; 0">
                    and start_time between  date_sub(current_timestamp,interval -#{statisticsTime} day)  and current_timestamp
                </if>
                <if test="statisticsTime &gt; 0">
                    and start_time between  current_timestamp  and  date_add(current_timestamp,interval #{statisticsTime} day)
                </if>
            </trim>
        </where>
    </select>



</mapper>