<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tos.mapper.SeatMapper">
    <select id="getSeatId" parameterType="map" resultType="String">
        select seat_id
        from seat
        where flight_id = #{flightId} and seat_type = #{seatType} and seat_state = 0
        order by seat_id desc LIMIT 1
    </select>
</mapper>