<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tos.mapper.TicketMapper">
    <insert id="bookFlight" parameterType="com.tos.pojo.Ticket">
        insert into ticket values (#{ticketId},#{flightId},#{seatId},#{departureTime},#{boardTime},#{cardId})
    </insert>

    <select id="getTickets" parameterType="map" resultType="Ticket">
        select *
        from ticket
        where card_id = #{cardId}

    </select>

    <select id="getTicketsByManager"  resultType="Ticket">
        select distinct *
        from  (flight inner join ticket on flight.id = ticket.flight_id) inner join passenger on ticket.card_id = passenger.card_id
    </select>

    <select id="getTicketsByPassenger" parameterType="map" resultType="Ticket">
        select distinct *
        from  flight inner join ticket on flight.id = ticket.flight_id
        <where>
            <trim prefixOverrides="and">
                <if test="cardId != null and cardId != ''">
                    and card_id = #{cardId}
                </if>
                <if test="srcCity != null and srcCity != ''">
                    and src_airport in (select airport from city_airport where city = #{srcCity})
                </if>
                <if test="dstCity != null and dstCity != ''">
                    and dst_airport in (select airport from city_airport where city = #{dstCity})
                </if>
                <if test="queryDate != null and queryDate != ''">
                    and date_format(departure_time,'%Y-%m-%d') = STR_TO_DATE(#{queryDate},'%Y-%m-%d')
                </if>
            </trim>


        </where>
    </select>

    <select id="getTimes" resultType="Date">
        select DATE_FORMAT(departure_time,'%Y-%m-%d')
        from ticket
    </select>

    <delete id="refund">
        delete from ticket where ticket_id = #{ticketId} and ticket.board_time > now();
    </delete>
</mapper>